

<div class="jumbotron">
  <h1>Know before you Go!</h1>
  <%= link_to "Learn More", posts_path, {class: "btn btn-primary btn-lg", role: "button"} %>
</div>


<div class="center-block"><h1>Travelr</h1></div>

<% if logged_in? %>
  <div id="create" type="button" class="btn btn-warning">
    <%= link_to "Create New Post", new_post_path %>
  </div>
<% end  %>


<div class="container">
       <div class="row">
        <div class="col-md-12">
            <article class="">
               <% @post.first(6).each do |post|  %>
                <div class="posts">
                  <h3 class="text-capitalize"><%= link_to post.city, post_path(post.id) %></h3>
                    <%= link_to image_tag(post.image.url(:medium), class:"images"), post_path(post.id) %>
                </div>
                <% end  %>
            </article>
        </div>
      </div>
    </div>
