<h1>Travelr</h1>


<% @user.each do |u|  %>

  <article class="">
    <h3> <% u.posts.each do |post| %>
        <%= link_to post.city, post_path(post.id) %>
        <%= image_tag post.image.url(:medium) %>
      <% end  %>
     </h3>
  </article>
<% end  %>





  <% if logged_in? %>
    <%= link_to "Create New Post", new_post_path %>
    <% end  %>
<!-- <% @user.each do |u| %>
  <article class="">
    <%= link_to u.username, user_path(u) %>
  </article>
<% end %> -->
