<h1>Posts#create</h1>



<%= form_for @user do |f| %>
  <ul>
    <%= f.fields_for :posts do |u| %>
      <li>
        <%= u.text_field :title %>
        <%= u.text_area :body %>

      </li>
    <% end %>
  </ul>
<% end %>
