<h1>New Review</h1>

<%= form_for @post do |f| %>
  <ul>
      <li>
        Review Title: <%= f.text_field :title %>
        Review: <%= f.text_area :body %>
        <%= f.submit %>

      </li>
    
  </ul>
<% end %>
